body{margin: 0;}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e1e1e;
    width: 100%;
    z-index: 999;
    position: fixed;
    height: 75px;
}

.left-part-header {
    width: 25%;
    align-items: center;
}

.logo-btn {
    display: flex;
    align-items: center;
    background-color: none;
    color: white;
    border: none;
    margin: 1rem 5rem;
    background-color: rgba(1, 1, 1, 0);

}

.logo-btn img {
    width: 60px;
    height: 55px;
}

.middle-part {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    flex: 1;
    height: 40px;
    margin: 0.5rem .2rem;
    background-color: rgba(1, 1, 1, 0);
    border: none;
    transition: transform 0.2s ease;

}

.btn:hover{
    transform: scale(1.1);
}

.btn:hover .btn-link-middle{
    color: white;
    text-decoration: underline;
}

.btn-link-middle{
    text-decoration: none;
    color: #adadad;
    font-size: 1rem;
}


.right-part {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.social-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 3rem;
}

.btn-social {
    margin-left: .5rem;
    border: none;
    background-color: rgba(1, 1, 1, 0);
    align-items: center;
    justify-content: center;
}

.btn-social img {
    object-fit: contain;
    width: 25px;
    height: 25px;
}

.btn-social:hover{
    transform: scale(1.1);
}

@media (max-width: 880px) {
    .right-part {
        display: none;
    }
    .middle-part {
        display: none;
    }
    .left-part-header {
        width: 50%;
    }
    .logo-btn {
        margin: 1rem 2rem;
    }
}